body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
  nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
  }
  
  form {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form input[type="text"],
  form input[type="submit"] {
    margin: 5px;
  }

  form input[type="text"] {
    border-radius: 20px;
    width: 300px;
    height: 25px;
  }

  form input[type="submit"] {
    border-radius: 5px;
  }
  
  .google {
    font-size: 7.5em;
    margin-bottom: 10px;
  }

  .google span:nth-child(3),
  .google span:nth-child(5) {
    color: red;
  }

  .google span:nth-child(1),
  .google span:nth-child(4) {
    color: blue;
  }

  .google span:nth-child(2) {
    color: yellow;
  }

  .google span:nth-child(6) {
    color: green;
  }